@* Admin page of insert a new service  *@
@model BlindRiver.Models.service

@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
    ViewBag.Title = "Insert New Service Post";
}

<div id="serive_insert">

<h2>Insert New Service</h2>

    @*form for adding a new service *@
@using (Html.BeginForm()) { 
    
    @Html.ValidationSummary()
        
        @Html.LabelFor(model => model.service_name)
        @Html.TextBoxFor(model => model.service_name,new { @class = "form-input" })
        @Html.ValidationMessageFor(model => model.service_name, "*")
    <br /><br />
        
        @Html.LabelFor(model => model.details)
        @Html.TextAreaFor(model => model.details, new { @class = "form-textarea", @Id = "sdetails"  })
        @Html.ValidationMessageFor(model => model.details, "*")
    <br /><br />
    
        @Html.LabelFor(model => model.photo)
        @Html.TextBoxFor(model => model.photo, new { @class = "form-textarea" })
        @Html.ValidationMessageFor(model => model.photo, "*")
    <br /><br />

      <input type="submit" class="button-blue" value="Insert" /><br />
}
    <script type="text/javascript">CKEDITOR.replace("sdetails");</script>
</div>
@* end of serive_insert div*@
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/ckeditor/ckeditor.js")
    }
