@model BlindRiver.Models.sliderimage

@{
    ViewBag.Title = "DeleteImage";
}

<h2>DeleteImage</h2>
<div>
    @Html.DisplayFor(x=>x.ImagePath)
    <img src="@Url.Content(@"~/Content/Images/" + (@Html.DisplayFor(x => x.ImagePath)))" />
</div>



@using(Html.BeginForm())
{
    <div>
        @*<img src="@Url.Content(@"~/Content/Images/" + (image.ImagePath))" />*@
       
        <input type="submit" value="Delete"/>
        <br />
        @Html.ActionLink("Back", "Index", "SliderAdmin")
    </div>
}