@model BlindRiver.Models.careeropp
@{
    ViewBag.Title = "apply";
}

<div id="doctorsContainer">
    <h2>Career Opportunities - @Html.DisplayFor(x => x.title)</h2>
    <h3>@Html.DisplayFor(x => x.title)</h3>
    <h4>Job Description:</h4>
    <p>@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.description))</p>
    <h4>Job Type: </h4>
    <p>@Html.DisplayFor(x => x.jobtype)</p>
    <h4>Department: </h4>
    <p>@Html.DisplayFor(x => x.department)</p>
    <h4>Location: </h4>
    <p>@Html.DisplayFor(x => x.location)</p>
    <h4>Job Code:  </h4>
    <p>@Html.DisplayFor(x => x.jobcode)</p>
    <hr />
   @* <button class="apply">@Html.ActionLink("Back to Jobs", "index")</button>
    <button class="apply">@Html.ActionLink("Apply For This Job", "submitapplication")</button>*@
    <a href="~/Careers" class="link-button-blue apply">Back to Jobs</a>
    <a href="~/Careers/submitapplication" class="link-button-blue apply">Apply For This Job</a>
</div>
