@model IEnumerable<BlindRiver.Models.careerapp>
@{
    ViewBag.Title = "Job Opportunities Manager";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h2>Job Applicants Manager</h2>

<h3>Current Job Applications</h3> 
@foreach (var x in Model) {
    <p class="spaced"><span class="bluefont">Application ID: </span>@x.Id</p>
    <p class="spaced"><span class="bluefont">Job Code: </span>@x.jobcode</p>
    <p class="spaced"><span class="bluefont">Applicant Name: </span>@x.fname @x.lname</p>
    <p class="spaced"><span class="bluefont">Applicant Resume: </span><a href="~/Content/resumes/@x.resume">@x.resume</a></p>
    @Html.ActionLink("View Application Details", "ApplicationDetails", new { id = x.Id })
    <hr />
}
