@model BlindRiver.Models.careerapp
@{
    ViewBag.Title = "Submit Application";
}

<div id="doctorsContainer">
<h1>Submit a Job Application</h1>
    <p>Please fill out the form below to apply for any of the positions listed on our @Html.ActionLink("career opportunities","index") page. We thank all candidates for their application(s), however due to the volume of applications we receive only candidates who are selected for an interview will be contacted. Please include the correct job code for the position you are applying for. Job codes are listed in the details of the job posting.</p>
    <br />
    <hr />
    @using (Html.BeginForm("submitapplication", "Careers", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <p>Job Code: @Html.TextBoxFor(x => x.jobcode, new { @class = "form-input" })</p> 
        <p>First Name: @Html.TextBoxFor(x => x.fname, new { @class = "form-input" })</p>
        <p>Last Name: @Html.TextBoxFor(x => x.lname, new { @class = "form-input" })</p>
        <p>Your email: @Html.TextBoxFor(x => x.email, new { @class = "form-input" })</p>
        <p>Your phone number: @Html.TextBoxFor(x => x.phone, new { @class = "form-input" })</p>
        <p>Cover Letter: @Html.TextAreaFor(x => x.coverletter, new { @class = "form-textarea" })</p>
        @Html.HiddenFor(x => x.resume)

        <br />
        <p>Resume Attachment: <input type="file" name="resumePath" /></p>
        <input class="apply" type="submit" value="Submit Application" />
        

        
    }

    <div class="clearfix"></div>
    <hr />
    <a href="~/Careers" class="link-button-blue apply">Back to Jobs</a>
    </div>

@section Scripts{
        @Scripts.Render("~/bundles/jqueryval")
    }
