@model IEnumerable<BlindRiver.Models.Volunteer_Opportunity>

@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

@{
    ViewBag.Title = "Admin";
}

<div id="volunteerContainer">
    <h1>Manage Volunteer Opportunities</h1>

    <button class="vapply">@Html.ActionLink("Insert New Volunteer Position", "Insert", "Volunteer")</button>
    <br /><br />
    <hr />
    <br />

        @foreach (var VolunteerOpportunities in Model)
        {

            <h1>@VolunteerOpportunities.position</h1>
            
            <h4>Description:</h4>
            @VolunteerOpportunities.description

            <h4>Volunteer Position Code:</h4>
            @VolunteerOpportunities.code

            <br /><br />
            <button class="vapply">@Html.ActionLink("Update", "Update", new { id = VolunteerOpportunities.id })</button>
            <button class="vapply">@Html.ActionLink("Delete", "Delete", new { id = VolunteerOpportunities.id })</button>


            <br /><br />
            <hr />
        }
</div>
