@model BlindRiver.Models.Volunteer_Application

@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

@{
    ViewBag.Title = "AppDelete";
}
<div id="volunteerContainer">
    @using (Html.BeginForm())
    {
        <h1>Are you sure you want to delete the following entry? </h1><br />
        <h3>First Name:</h3>@Model.First_Name <br />
        <h3>Last Name:</h3>@Model.Last_Name <br />
        <h3>Email:</h3>@Model.Email <br />
        <h3>Phone Number:</h3>@Model.Phone <br />
        <h3>Address:</h3>@Model.Address1 <br />
        <h3>Address 2:</h3>@Model.Address2 <br />
        <h3>City:</h3>@Model.City <br />
        <h3>Province:</h3>@Model.Province <br />
        <h3>Postal Code:</h3>@Model.Postal_Code <br />
        <h3>Position Code:</h3>@Model.Position_Code <br />


        <br /><br />

        <input class="vapply" type="submit" value="Delete" />
        <br /><br />
        <hr />
        <button class="vapply">@Html.ActionLink("Back", "ApplicationAdmin", new { id = Model.id })</button>
    }
</div>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")

}