@model BlindRiver.Models.Volunteer_Opportunity

@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

@{
    ViewBag.Title = "Delete";
}
<div id="volunteerContainer">
@using (Html.BeginForm())
    {
    <h1>Are you sure you want to delete the following entry? </h1><br />
    <h1>@Model.position</h1>

    <h4>Description:</h4>
    @Model.description

    <h4>Volunteer Position Code:</h4>
    @Model.code

    <br /><br />

    <input class="vapply" type="submit" value="Delete" />
    <br /><br />
    <hr />
    <button class="vapply">@Html.ActionLink("Back", "Admin", new { id = Model.id })</button>
}
</div>
    @section Scripts{
        @Scripts.Render("~/bundles/jqueryval")

    }
