@*Volunteer Validation model to validate entered fields when adding new volunteer opportunities*@
@model BlindRiver.Models.VolunteerValidation
@*Applies admin styling to page*@
@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

@{
    ViewBag.Title = "Insert New Volunteer Position";
}

<div id="volunteerContainer">


    <h1>Insert New Volunteer Position</h1>

    @using (Html.BeginForm())
    {
        //Shows validation summary. All errors will appear here.
        @Html.ValidationSummary()

        <h3>Position:</h3>
        @Html.TextBoxFor(model => model.position, new { @class = "vform-input" })
        @Html.ValidationMessageFor(model => model.position, "*")

        <h3>Description:</h3>
        @Html.TextAreaFor(model => model.description, new { @class = "vtform-input" })
        @Html.ValidationMessageFor(model => model.description, "*")

        <h3>Volunteer Position Code:</h3>
        @Html.TextBoxFor(model => model.code, new { @class = "vform-input" })
        @Html.ValidationMessageFor(model => model.code, "*")
        <br /><br />
        <input class="vapply" type="submit" value="Insert" />
        <br /><br />
        <hr />
        <button class="vapply">@Html.ActionLink("Back to Manage Volunteer Opportunities", "Admin")</button>
    }
</div>
    @section Scripts{
        @Scripts.Render("~/bundles/jqueryval")

    }
