@{
    ViewBag.Title = "_adminLayout";
}

@*@model IEnumerable<BlindRiver.Models.brMenu>*@

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/slider")
    @Scripts.Render("~/bundles/gallery")
    <link href="~/Content/jquery.bxslider.css" rel="stylesheet" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <style>
        #linkAddImage {
            background: none repeat scroll 0 0 green;
            border-radius: 9px;
            color: white;
            padding: 4px 7px;
        }
    </style>

</head>
<body>
    
    <div class="br-container">
        <header id="header-admin">
            <div class="wrapper">

                @*Source: "Action image MVC razor" http://stackoverflow.com/questions/4896439/action-image-mvc3-razor*@

                <a href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/Content/Images/Logo.png")" /></a>

                <div class="login-admin">
                    @*<a id="cms-logout" href="#">Logout</a>*@
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                </div>
                <div class="clear">
                </div>
            </div>
        </header>
        <div class="content-body">
            <nav id="nav-admin">
                <p><i class="fa fa-wrench"></i>Dashboard</p>
                <ul>
                    <li><a href="#"><i class="fa fa-file-text"></i>Create New Page</a></li>
                    <li><a href="@Url.Action("Index", "HomepageModule")"><i class="fa fa-home"></i>Home Page Manager</a></li>
                    <li><a href="@Url.Action("Index","SliderAdmin")"><i class="fa fa-picture-o"></i>Home Page Slider</a></li>
                    <li><a href="#"><i class="fa fa-envelope-o"></i>Contact Messages</a></li>
                    <li><a href="#"><i class="fa fa-user-md"></i>Doctor Manager</a></li>
                    <li><a href="#"><i class="fa fa-users"></i>Services Manager</a></li>
                    <li><a href="#"><i class="fa fa-user-plus"></i>Career Manager</a></li>
                    <li><a href="#"><i class="fa fa-graduation-cap"></i>Volunteer Manager</a></li>
                    <li><a href="#"><i class="fa fa-newspaper-o"></i>News Manager</a></li>
                    <li><a href="#"><i class="fa fa-question-circle"></i>FAQ Manager</a></li>
                    <li><a href="#"><i class="fa fa-calendar"></i>Appointments Manager</a></li>
                    <li><a href="#"><i class="fa fa-check-square-o"></i>Satisfaction survey</a></li>
                    <li><a href="@Url.Action("test", "SliderAdmin", "SliderAdmin")"><i class="fa fa-check-square-o"></i>Test</a></li>

                </ul>
            </nav>
            <section>

                <div class="wrapper-admin">
                    @RenderBody()
                </div>
            </section>
        </div>
        <div class="clear"></div>
        <footer>
            <div class="wrapper">
                <div class="f-left">
                    <ul class="f-menu">
                        <li><a href="#">Careers & Volunteers</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                    <div class="copy">Copyright &copy; 2015, Blind River District Health Centre </div>
                </div>
            </div>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>

