@*@model IEnumerable<BlindRiver.Models.mainmenulink>*@


    <div class="wrapper">
        <ul>
            @{
                var menuItems = (IEnumerable<BlindRiver.Models.mainmenulink>)ViewData["MenuItems"];

                foreach (var x in menuItems)
                {
                    if(x.parent_id == null)
                                              
                    { 
                        
                        var class_x ="";
                        if(@x.link_url == (HttpContext.Current.Request.Url.AbsolutePath).TrimStart(new Char[]{'/'}))

                        { class_x = "active"; }
                    <li class="@class_x">
                       
                        @Html.ActionLink(x.link_name,"Index", x.link_url)
                        <ul>
                            @foreach(var submenuItem in menuItems)
                            {
                                if(submenuItem.parent_id == x.id)
                                {
                                    if (@x.link_url == (HttpContext.Current.Request.Url.AbsolutePath).TrimStart(new Char[] { '/' }))

                                    { class_x = "active"; }
                                    
    <li>@Html.ActionLink(submenuItem.link_name, "Index", submenuItem.link_url)</li>

                                }
                            }
                        </ul>
                    </li>                
            }                    
           }
          }

        </ul>

       
    </div>
