@model BlindRiver.Models.RegisterModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<hgroup class="title">
    @*<h1>@ViewBag.Title.</h1>*@
    <h2>Create a new account.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="reg-form">
        <fieldset>
            <legend>Registration Form</legend>
            <br />
            <ol>
                <li>
                    @Html.LabelFor(m => m.UserName, new { @class = "label" })
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-input" })
                    <br />
                </li>
                <li>
                    @Html.LabelFor(m => m.Password, new { @class = "label" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-input" })
                    <br />
                </li>
                <li>
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "label" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-input" })
                    <br />
                </li>
            </ol>
            <input type="submit" value="Register" class="button-blue"/>
        </fieldset>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
