@model BlindRiver.Models.bookApp

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


<p>Name: @Html.DisplayFor(x=>x.name)</p><br />
<p>Phone: @Html.DisplayFor(x=>x.phone)</p><br />
<p>Email: @Html.DisplayFor(x=>x.email)</p><br />
<p>Date Of Appoinment: @Html.DisplayFor(x=>x.doa)</p><br />
<p>Purpose: @Html.DisplayFor(x=>x.purpose)</p>
<p>
    @Html.ActionLink("Back","Index","BookApp")|
      @Html.ActionLink("Update", "Update", new {  id=Model.id}) |
      @Html.ActionLink("Delete","Delete",new {  id=Model.id})
</p>