@model BlindRiver.Models.bookApp

@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

@{
    ViewBag.Title = "Details";
}
@* all appoinments by name are displayed *@
<h2>Details Of @Model.name</h2>

@* all the details related to selected appointmnet is displayed *@
<p>Name: @Html.DisplayFor(x=>x.name)</p><br />
<p>Phone: @Html.DisplayFor(x=>x.phone)</p><br />
<p>Email: @Html.DisplayFor(x=>x.email)</p><br />
<p>Date Of Appoinment: @Html.DisplayFor(x=>x.doa)</p><br />
<p>Purpose: @Html.DisplayFor(x=>x.purpose)</p>
<p>
    <button class="apply">@Html.ActionLink("Back", "Index")</button> 
    <button class="apply">@Html.ActionLink("Update", "Update", new {  id=Model.id})</button> 
    <button class="apply">@Html.ActionLink("Delete", "Delete",new {  id=Model.id})</button>
</p>