@model BlindRiver.Models.bookApp

@{
    ViewBag.Title = "Book An Appointment";
}

<h2>Book An Appointment</h2>
<h4>Request 2 days in advance </h4>

@using (Html.BeginForm()) { 
    
    @Html.ValidationSummary()
        
        @Html.LabelFor(model => model.name)
        @Html.TextBoxFor(model => model.name,new { @class = "form-input" })
        @Html.ValidationMessageFor(model => model.name, "*")
    <br /><br />
        
        @Html.LabelFor(model => model.phone)
        @Html.TextBoxFor(model => model.phone,new { @class = "form-input" })
        @Html.ValidationMessageFor(model => model.phone, "*")
    <br /><br />
    
        @Html.LabelFor(model => model.email)
        @Html.TextBoxFor(model => model.email,new { @class = "form-input" })
        @Html.ValidationMessageFor(model => model.email, "*")
    <br /><br />
    
        @Html.LabelFor(model => model.doa)
        @Html.TextBoxFor(model => model.doa,new { @class = "form-input" })
        @Html.ValidationMessageFor(model => model.doa, "*")
    <br /><br />
    
        @Html.LabelFor(model => model.purpose)
        @Html.TextAreaFor(model => model.purpose, new { @class = "form-textarea"})
        @Html.ValidationMessageFor(model => model.purpose, "*")
    <br /><br />
    <input type="submit" value="Insert" /><br />   
}
@*<p>@Html.ActionLink("Insert", "Insert")</p>*@

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    
    }