@model BlindRiver.Models.bookApp

@{
    ViewBag.Title = "Book An Appointment";
}

<div id="book-insert">

<h1>Book An Appointment</h1>
<h4>Request 2 days in advance </h4>

@using (Html.BeginForm()) { 
    
    @Html.ValidationSummary()
        
        <label>Name: </label>
        @Html.TextBoxFor(model => model.name,new { @class = "form-input" })
        @Html.ValidationMessageFor(model => model.name, "*")
    <br /><br />
        
        <label>Phone:</label>
        @Html.TextBoxFor(model => model.phone,new { @class = "form-input" })
        @Html.ValidationMessageFor(model => model.phone, "*")
    <br /><br />
    
        <label>Email:</label>
        @Html.TextBoxFor(model => model.email,new { @class = "form-input" })
        @Html.ValidationMessageFor(model => model.email, "*")
    <br /><br />
    
        <label>Date Of Appoinment:</label>
        @Html.TextBoxFor(model => model.doa,new { @class = "form-input" })
        @Html.ValidationMessageFor(model => model.doa, "*")
    <br /><br />
    
        <label>Purpose:</label>
        @Html.TextAreaFor(model => model.purpose, new { @class = "form-textarea"})
        @Html.ValidationMessageFor(model => model.purpose, "*")
    <br /><br />
    <input type="submit" class="button-blue" value="Insert" /><br />   
}
@*<p>@Html.ActionLink("Insert", "Insert")</p>*@

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    
    }
    </div>