@model BlindRiver.Models.bookApp

@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>
@using (Html.BeginForm()) { 
    
  @*  @Html.HiddenFor(x => x.id)*@

    @Html.LabelFor(x => x.name)
    <br />
    @Html.TextBoxFor(x => x.name)
    @Html.ValidationMessageFor(x => x.name)
    <br /><br />
    
    @Html.LabelFor(x => x.phone)
    <br />
    @Html.TextBoxFor(x => x.phone)
    @Html.ValidationMessageFor(x => x.phone)
    <br /><br />
	
	 @Html.LabelFor(x => x.email)
    <br />
    @Html.TextBoxFor(x => x.email)
    @Html.ValidationMessageFor(x => x.email)
    <br /><br />
    
    @Html.LabelFor(x => x.doa)
    <br />
    @Html.TextBoxFor(x => x.doa)
    @Html.ValidationMessageFor(x => x.doa)
    <br /><br />
    
    @Html.LabelFor(x => x.purpose)
    <br />
    @Html.TextAreaFor(x => x.purpose)
    @Html.ValidationMessageFor(x => x.purpose)
    <br /><br />
    
    <input type="submit" value="Update" />
}

<p>
   @* @Html.ActionLink("Back", "Details", new { id = Model.id})*@
      @Html.ActionLink("Back", "Details","BookApp")
</p>

@*@section Script{
    @Scripts.Render("~/bundles/jqueryval")
    }*@