@model IEnumerable<BlindRiver.Models.homemodule>

@{
    ViewBag.Title = "Index";
}

<h2>Home page modules</h2>

@foreach (var module in Model)
{
    <div class="module-admin">
        <div class="module-image-admin">
                @*source:"Working with images asp.net"http://www.asp.net/web-pages/overview/ui,-layouts,-and-themes/9-working-with-images*@
                <img src="@Url.Content(@"~/Content/Images/" + (module.image_path))" alt="module" />
        </div>
        <div class="module-admin-details">
            <h2>
                @*@Html.ActionLink(module.link_name, "Index", module.link_url)*@
                @module.link_name
            </h2>
            <div>
                @module.description
            </div>
        </div>
       
        <div class="clear"></div>
    </div>
    <div class="module-edit">
        <ul>
            <li>
                @*<button class="button-blue">
                    @Html.ActionLink("Update", "Update", new { Id = module.id })
                </button>*@

          
                    @Html.ActionLink("Update", "Update", new { Id = module.id }, new { @class = "link-button-blue" })

            </li>
        </ul>
    </div>
}
<div class="clear"></div>