@model BlindRiver.Models.doctor

@{
    ViewBag.Title = "InsertDoctor";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<div class="wrapper-admin">
<h2>InsertDoctor</h2>

@using (Html.BeginForm()) { 
    
    @Html.LabelFor(model => model.firstName);
    @Html.TextBoxFor(model => model.firstName);
    <br />
    @Html.LabelFor(model => model.lastName);
    @Html.TextBoxFor(model => model.lastName);
    <br />
    @Html.LabelFor(model => model.title);
    @Html.TextBoxFor(model => model.title);
    <br />
    @Html.LabelFor(model => model.department);
    @Html.TextBoxFor(model => model.department);
    <br />
    @Html.LabelFor(model => model.phone);
    @Html.TextBoxFor(model => model.phone);
    <br />
    @Html.LabelFor(model => model.email);
    @Html.TextBoxFor(model => model.email);
    <br />
    <input type="submit" value="Add New Doctor" onclick="return confirm('Confirm doctor insert?')" />
}
    </div>

@section Scripts{
        @Scripts.Render("~/bundles/jqueryval")
    }
