@model BlindRiver.Models.doctor
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h2>Update Doctor @Model.firstName @Model.lastName</h2>

@using (Html.BeginForm("Update", "doctor", FormMethod.Post, new { enctype = "multipart/form-data" }))
{ 
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.image)
    <div class="admin-input">
    @Html.LabelFor(x => x.firstName)
    @Html.TextBoxFor(x => x.firstName, new { @class = "form-input" })
     @Html.ValidationMessageFor(model => model.firstName, "*Required")
    </div>
        <div class="admin-input">
    @Html.LabelFor(x => x.lastName)
    @Html.TextBoxFor(x => x.lastName, new { @class = "form-input" })
    @Html.ValidationMessageFor(model => model.lastName, "*Required")
    </div>
        <div class="admin-input">
    @Html.LabelFor(x => x.title)
    @Html.TextBoxFor(x => x.title, new { @class = "form-input" })
    @Html.ValidationMessageFor(model => model.title, "*Required")
    </div>
        <div class="admin-input">
    @Html.LabelFor(x => x.department)
    @Html.TextBoxFor(x => x.department, new { @class = "form-input" })
    @Html.ValidationMessageFor(model => model.department, "*Required")
    </div>
        <div class="admin-input">
    @Html.LabelFor(x => x.email)
    @Html.TextBoxFor(x => x.email, new { @class = "form-input" })
    @Html.ValidationMessageFor(model => model.email, "*Please enter a valid email")
    </div>
        <div class="admin-input">
    @Html.LabelFor(x => x.phone)
    @Html.TextBoxFor(x => x.phone, new { @class = "form-input" })
    @Html.ValidationMessageFor(model => model.phone, "*Please enter a valid phone number")
    </div>
    <div class="admin-input">
        <p>Current Image:</p><img alt="doctor" style="max-width:400px;" src="@Url.Content(@"~/Content/Images/" + (Model.image))" />
    </div>
    <div class="admin-input">
    <p>Replace Image: <input type="file" name="imgPath" /></p>
    </div>
    <input type="submit" value="Update Doctor" />
}

<h2>@Html.ActionLink("Back", "Manager")</h2>

@section Scripts{
        @Scripts.Render("~/bundles/jqueryval")
    }