@model BlindRiver.Models.news_post

@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
    ViewBag.Title = "Details";
}

<div id="news-details">

<h2>Details @Model.heading</h2>

<p>Date: @Html.DisplayFor(x=>x.date)</p><br />
<p>Heading: @Html.DisplayFor(x=>x.heading)</p><br />
<p>Description: @Html.DisplayFor(x=>x.details)</p><br />

<p>
    <button class="apply">@Html.ActionLink("Back", "Index")</button> 
    <button class="apply">@Html.ActionLink("Update", "Update", new {  id=Model.id})</button> 
    <button class="apply">@Html.ActionLink("Delete", "Delete",new {  id=Model.id})</button>
</p>
    </div>