@model BlindRiver.Models.news_post

@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<p>Date: @Html.DisplayFor(x=>x.date)</p><br />
<p>Heading: @Html.DisplayFor(x=>x.heading)</p><br />
<p>Description: @Html.DisplayFor(x=>x.details)</p><br />

<p>
    @Html.ActionLink("Back","Index","")|
      @Html.ActionLink("Update", "Update", new {  id=Model.id}) |
      @*@Html.ActionLink("Delete","Delete",new {  id=Model.id})*@
</p>