@model BlindRiver.Models.news_post

@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
    ViewBag.Title = "Update";
}
<div id="news-update">
<h2>Update</h2>
@using (Html.BeginForm()) { 
    
  @*  @Html.HiddenFor(x => x.id)*@

    @*@Html.LabelFor(x => x.date)
    <br />
    @Html.TextBoxFor(x => x.date,new { @class = "form-input" })
    @Html.ValidationMessageFor(x => x.date)
    <br /><br />*@
    
    @Html.LabelFor(x => x.heading)
    <br />
    @Html.TextBoxFor(x => x.heading,new { @class = "form-input" })
    @Html.ValidationMessageFor(x => x.heading)
    <br /><br />
	
	 @Html.LabelFor(x => x.details)
    <br />
    @Html.TextAreaFor(x => x.details, new { @class = "form-textarea" })
    @Html.ValidationMessageFor(x => x.details)
    <br /><br />  
    
    <button class="apply">@Html.ActionLink("Update News", "Index")</button>
    <button class="apply">@Html.ActionLink("Go Back to All News", "Index")</button>
}

<p>
   @* @Html.ActionLink("Back", "Details", new { id = Model.id})*@
      @*@Html.ActionLink("Back", "Details","News")*@
</p>
</div>
@*@section Script{
    @Scripts.Render("~/bundles/jqueryval")
    }*@