@model BlindRiver.Models.contact

@{
    ViewBag.Title = "Subject " + @Model.subject;
}

<h2>Are you sure you want to delete the following message? </h2>

<fieldset>
    <legend>
         Message details
    </legend>
    <br />
    <div>
        <div class="ct-row"><label class="label">From:</label><span class="ct-msg-text"> @Model.name</span></div>
        <div class="ct-row"><label class="label">Subject:</label><span class="ct-msg-text">@Model.subject</span></div>
        <div class="ct-row"><label class="label">Message:</label><span class="ct-msg-text"> @Model.message</span></div>
    </div>

    @using (Html.BeginForm())
    {
        <div class="f-left">
            <input type="submit" value="Delete" class="button-blue" />
        </div>
    }

    @using (Html.BeginForm("Index", "ContactsAdmin"))
    {
        <div>
            <button type="submit" class="button-cancel">Cancel</button>
        </div>
    }
</fieldset>
        <div class="clearfix"></div>

        @section Scripts{
            @Scripts.Render("~/bundles/jqueryval")

        }
