@model BlindRiver.Models.contact

@{
    ViewBag.Title = "Message details: " + @Model.name;
}

<h1>Contact Messages Manager</h1>

<fieldset>
    <legend>
        Message details
    </legend>
    <div>
        <br />
        <div class="ct-row"><label class="label">From:</label><span class="ct-msg-text"> @Model.name</span></div>
        <div class="ct-row"><label class="label">Tel.:</label><span class="ct-msg-text"> @Model.phone</span></div>
    <div class="ct-row"><label class="label">Email:</label><span class="ct-msg-text"> @Model.email</span></div>
    <div class="ct-row"><label class="label">Subject:</label><span class="ct-msg-text">@Model.subject</span></div>
    <div class="ct-row"><label class="label">Message:</label><span class="ct-msg-text"> @Model.message</span></div>
        <button class="button-green">
            <p>@Html.ActionLink("Reply with an email", "Email", new { id = Model.id })</p>
        </button><br />
</div>

@using (Html.BeginForm("Update", "ContactsAdmin"))
{
    @Html.HiddenFor(model => model.id)
    @Html.HiddenFor(model => model.name)
    @Html.HiddenFor(model => model.email)
    @Html.HiddenFor(model => model.phone)
    @Html.HiddenFor(model => model.subject)
    @Html.HiddenFor(model => model.message)
    <div class="ct-row">
        <label class="label">Mark this message as reviewed:</label>
        @Html.CheckBoxFor(model => model.reviewed)
    </div>
    <div class="f-left">
        <input type="submit" value="Save changes" class="button-blue" />
    </div>

    <button class="button-cancel">
        <p>@Html.ActionLink("Cancel","Index", "ContactsAdmin")</p>
    </button><br />
}
</fieldset>

<div class="clearfix"></div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}

