@model BlindRiver.Models.FAQ

@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
} 

@{
    ViewBag.Title = "Delete FAQ: " + @Model.questions;
}
<div id="faqContainer">

    <h1>Are you sure you want to delete the following FAQ? </h1>
    
@using (Html.BeginForm())
    {
    <h4>FAQ:</h4>  
    @Model.questions
    
    <h4>Answer:</h4>
    @Model.answers
    

    <br /><br />
    <input class="vapply" type="submit" value="Delete" />
    <br /><br />
    <hr />
    <button class="vapply">@Html.ActionLink("Back", "Index", new { id = Model.id })</button>
}
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")

}    
