@model BlindRiver.Models.FAQvalidation

@{
    ViewBag.Title = "FAQ Details: " + @Model.questions;
}

<h2>Details</h2>
<h3>@Html.DisplayFor(x=> x.questions)</h3>
<p>@Html.DisplayFor(x=>x.answers)</p>

<p>
    
    @Html.ActionLink("Update", "Update", new { id = Model.id }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.id })
</p>
