@model IEnumerable<BlindRiver.Models.FAQ>
@{
    ViewBag.Title = "FAQ";
}
    

<div id="faqContainer">
    <h1>Blind River FAQ</h1>

    <p>@Html.ActionLink("Insert New FAQ", "Insert", "FAQ")</p>

    @foreach (var FAQ in Model)
    {

       <h3>@FAQ.questions</h3>  
       <br />
       <p>@FAQ.answers</p>
       <li>@Html.ActionLink("Update", "Update", new { id = FAQ.id })</li>
        <li>@Html.ActionLink("Delete", "Delete", new {id= FAQ.id})</li>
       <hr />
    }
</div>
