@model BlindRiver.Models.FAQvalidation
@*Applies admin css styling to page*@
@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
} 

@{
    ViewBag.Title = "Insert New FAQ";
}

<div id="faqContainer">


    <h1>Insert New FAQ</h1>
    @*Form to insert FAQ and answer*@
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()

        <h3>Frequently Asked Question:</h3>
        @Html.TextBoxFor(model => model.questions, new { @class = "vform-input" })
        @Html.ValidationMessageFor(model => model.questions, "*")
        
        <h3>Answer: </h3>
        @Html.TextAreaFor(model => model.answers, new { @class = "vtform-input" })
        @Html.ValidationMessageFor(model => model.answers, "*")
        <br /><br />
        <input class="vapply" type="submit" value="Insert" />

    }
    <br /><br/>
    <hr />
    @*Button to direct you back to Index page*@
    <button class="vapply">@Html.ActionLink("Back to Manage FAQ", "Index")</button>

</div>
    @section Scripts{
        @Scripts.Render("~/bundles/jqueryval")

    }
