@model BlindRiver.Models.FAQ

@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
} 

@{
    ViewBag.Title = "Update FAQ: " + @Model.questions;
}
<div id="faqContainer">

    <h1>Update FAQ</h1>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(x => x.id)

        <h3>Frequently Asked Question:</h3>
        @Html.TextBoxFor(model => model.questions, new { @class = "vform-input" })
        @Html.ValidationMessageFor(model => model.questions, "*")

        <h3>Answer: </h3>
        @Html.TextAreaFor(model => model.answers, new { @class = "vtform-input" })
        @Html.ValidationMessageFor(model => model.answers, "*")
        <br /><br />
        <input class="vapply" type="submit" value="Update" />

    }
    <br /><br />
    <hr />
    <button class="vapply">@Html.ActionLink("Back to Manage FAQ", "Index")</button>
 
</div>
    @section Scripts{
        @Scripts.Render("~/bundles/jqueryval")

    }
