@model IEnumerable<BlindRiver.Models.homemodule>
@{
    ViewBag.Title = "HomepageModule";
}   

<div class="hp-main-module">
<<<<<<< HEAD
    <h3 class="subtitle">Get started...</h3>
        @foreach (var module in Model)
        {
            <div class="hp-module">
                <a href="@Url.Action("Index", module.link_url)">
                    <div class="wrapper-image">
                        <div data-content="Visit this section" class="module-img">
                            @*source:"Working with images asp.net"http://www.asp.net/web-pages/overview/ui,-layouts,-and-themes/9-working-with-images*@
                            <img src="@Url.Content(@"~/Content/Images/" + (module.image_path))" alt="module" />

=======
    @foreach (var module in Model)
    {
        <div class="hp-module">
            @*<a href="@Url.Action("Index", module.link_url)">*@
                <div class="wrapper-image" >
                    <div data-content="Visit this section" class="module-img">
                        @*source:"Working with images asp.net"http://www.asp.net/web-pages/overview/ui,-layouts,-and-themes/9-working-with-images*@
                        <img src="@Url.Content(@"~/Content/Images/" + (module.image_path))" alt="module" />
                        <div class="img-background">
                            <h2>@Html.ActionLink(module.link_name, "Index", module.link_url)</h2>
                            <button class="button-blue">
                                <a href="@Url.Action("Index", module.link_url)">Visit section</a>
                            </button>
>>>>>>> origin/blindriver
                        </div>
                    </div>
                </div>
            @*</a>*@
            <div class="module-details">
                <br />
                <h3>
                    @Html.ActionLink(module.link_name, "Index", module.link_url)
                </h3>                    
                <p> @module.description  </p>                  
            </div>                
            <div class="clear"></div>
        </div>
    }  
</div>
<div class="clear"></div>

<script type="text/javascript">
    jQuery(document).ready(function($){
        $(".module-img").hover(function () {
            $(this).find(".img-background").fadeIn();
        },
        function () {
            $(this).find(".img-background").fadeOut();
        }
        )
    });

</script>
